@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.2;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 950px;
  padding: 50px 10px 10px 10px;
}

.header__line_sticky {
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 1px 5px 2px #c7c7c7;
          box-shadow: 0 1px 5px 2px #c7c7c7;
}

.sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 7px 0;
}

.sticky__btn-catalog {
  width: 224px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sticky__btn-catalog .fa-bars:before {
  position: relative;
  top: 1px;
}

.sticky__btn-catalog span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  margin: 0 0 0 10px;
}

.sticky__btn-catalog:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #303030;
}

.sticky__search {
  margin: 0 20px;
}

.sticky__selected-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky__selected-products a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky__selected-products__count {
  position: absolute;
  min-width: 18px;
  height: 18px;
  top: -5px;
  right: -10px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 1px 0 0;
  font-weight: 700;
  font-size: 11px;
}

.sticky__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky__text {
  margin: 0 0 0 10px;
  color: black;
  font-size: 14px;
}

.sticky__text:hover {
  color: #c50000;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  min-width: 600px;
  height: 44px;
  border: 2px solid #666;
  border-radius: 6px 0 0 6px;
  font-size: 18px;
  padding: 0 10px;
}

.search__btn {
  width: 44px;
  height: 44px;
  background-color: #666;
  border-radius: 0 6px 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart-label a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.cart-label__image {
  position: relative;
  margin: 0 20px 0 0;
}

.cart-label__count {
  position: absolute;
  min-width: 18px;
  height: 18px;
  top: -5px;
  right: -10px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 1px 0 0;
  font-weight: 700;
  font-size: 11px;
}

.cart-label__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.cart-label__total:hover {
  color: #c50000;
}

.totalCSS {
  font-size: 18px;
  font-weight: 500;
}

.goods__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 20px 0;
}

.goods {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin: 15px;
  padding: 10px;
  border: 1.5px solid black;
  -webkit-box-shadow: 1px 1px 5px 0 #9c9c9c;
          box-shadow: 1px 1px 5px 0 #9c9c9c;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods__title {
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0 20px 0;
  text-align: center;
}

.goods__image {
  width: 100%;
  margin: 0 0 20px 0;
  text-align: center;
}

.goods__image img {
  max-height: 200px;
}

.goods__price {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 15px 0;
  text-align: center;
}

.goods__button {
  width: 70%;
  min-height: 30px;
  border-radius: 5px;
  background-color: #181818;
  color: white;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding: 7px;
  margin: 0 0 15px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.goods__button:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #535353;
}

.goods__button:active {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.add-goods {
  margin: 20px auto;
}

.cart {
  margin: 50px 0 20px 0;
}

.cart__table {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
}

.cart__tr {
  border-bottom: 1px solid rgba(83, 83, 83, 0.8);
}

.cart__td {
  padding: 20px 5px;
  width: 10%;
}

.cart__td:nth-child(3) {
  width: 35%;
}

.cart__td:last-child {
  width: 20%;
}

.td-btn {
  max-width: 40px;
  height: 25px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.td-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.td {
  text-align: center;
}

.td__btn-delete:after {
  content: "x";
  position: relative;
  top: -1px;
  left: 0;
}

.td__img {
  width: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.td__name {
  font-size: 16px;
  font-weight: 700;
}

.td__count {
  font-size: 16px;
  font-weight: 400;
}

.td__sum {
  font-size: 16px;
  font-weight: 700;
}

.hidden {
  display: none;
}
