@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-bars:before {
  content: "\f0c9";
  font-size: 17px;
  color: #fff;
}

.fa-search:before {
  content: "\f002";
  font-size: 20px;
  color: #fff;
}

.fa-heart:before {
  content: "\f004";
  font-size: 22px;
  color: #d60000;
}

.fa-shopping-cart:before {
  content: "\f07a";
  font-size: 22px;
  color: #d60000;
}

.fa-chevron-left:before {
  content: "\f053";
  font-size: 18px;
  color: #d60000;
}

.fa-minus:before {
  content: "\f068";
  font-size: 16px;
  color: #666;
}

.fa-plus:before {
  content: "\f067";
  font-size: 16px;
  color: #666;
}

.fa-sort-amount-up:before {
  content: "\f161";
  font-size: 14px;
  color: #c50000;
}

.fa-sort-amount-down-alt:before {
  content: "\f884";
  font-size: 14px;
  color: #c50000;
}

.fa-map-marker-alt:before {
  content: "\f3c5";
  font-size: 14px;
  color: #d60000;
}

.fa-user:before {
  content: "\f007";
  font-size: 14px;
  color: #d60000;
}

.fa-chevron-right:before {
  content: "\f054";
  font-size: 14px;
  color: #d60000;
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.wrapper {
  font-family: "Roboto";
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

.header__line_sticky {
  background-color: #f0f0f0;
}

.h-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-info__label {
  margin: 12px 56px 12px 0;
}

.h-info__label img {
  width: 152px;
  height: 76px;
  border-radius: 10px;
}

.h-info__title {
  width: 170px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 56px 0 0;
}

.h-info__title span {
  display: block;
}

.h-info__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 56px 0 0;
  cursor: pointer;
}

.h-info__city i::before {
  position: relative;
  top: -1px;
  left: 0;
  font-size: 14px;
  margin: 0 10px 0 0;
}

.h-info__city p {
  font-size: 12px;
  color: #212121;
}

.h-info__city p:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #c50000;
}

.h-info__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 50px 0 120px;
}

.h-info__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.h-info__login i::before {
  font-size: 18px;
  margin: 0 10px 0 0;
  position: relative;
  top: -2px;
  left: 0;
}

.h-info__login p {
  font-weight: 700;
  font-size: 16px;
}

.h-info__login p:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #c50000;
}

.bottom-shadow {
  -webkit-box-shadow: 0 1px 5px 2px #c7c7c7;
          box-shadow: 0 1px 5px 2px #c7c7c7;
}

.contacts__tel {
  font-size: 18px;
  font-weight: 700;
  color: #d60000;
  margin: 0 0 5px 0;
}

.contacts__text {
  font-size: 12px;
  color: #212121;
  margin: 10px 0 0 0;
}

.sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 7px 0;
}

.sticky__btn-catalog {
  width: 300px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sticky__btn-catalog .fa-bars:before {
  position: relative;
  top: 1px;
}

.sticky__btn-catalog span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  margin: 0 0 0 10px;
}

.sticky__btn-catalog:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #303030;
}

.sticky__search {
  margin: 0 20px;
}

.sticky__selected-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky__selected-products a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky__selected-products__count {
  position: absolute;
  min-width: 18px;
  height: 18px;
  top: -5px;
  right: -10px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 1px 0 0;
  font-weight: 700;
  font-size: 11px;
}

.sticky__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky__text {
  margin: 0 0 0 10px;
  color: black;
  font-size: 14px;
}

.sticky__text:hover {
  color: #c50000;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  min-width: 600px;
  height: 44px;
  border: 2px solid #666;
  border-radius: 6px 0 0 6px;
  font-size: 18px;
  padding: 0 10px;
}

.search__btn {
  width: 44px;
  height: 44px;
  background-color: #666;
  border-radius: 0 6px 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart-label a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.cart-label__image {
  position: relative;
  margin: 0 20px 0 0;
}

.cart-label__count {
  position: absolute;
  min-width: 18px;
  height: 18px;
  top: -5px;
  right: -10px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 1px 0 0;
  font-weight: 700;
  font-size: 11px;
}

.cart-label__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.cart-label__total:hover {
  color: #c50000;
}

.totalCSS {
  font-size: 18px;
  font-weight: 500;
}

.sticky-fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 1px 5px 2px #c7c7c7;
          box-shadow: 0 1px 5px 2px #c7c7c7;
  -webkit-animation-name: showHeader;
          animation-name: showHeader;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes showHeader {
  0% {
    opacity: 0.5;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes showHeader {
  0% {
    opacity: 0.5;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.main {
  margin: 30px 0 0 0;
}

.main__title {
  font-size: 28px;
  font-weight: 700;
  color: #212121;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column__cart {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1000px;
          flex: 0 0 1000px;
}

.column__total {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}

.cart {
  margin: 50px 0 50px 0;
}

.product {
  border-top: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.product__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 0 0;
}

.product__image img {
  max-width: 100px;
  max-height: 100px;
}

.product__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 16px 0;
}

.product__name {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  margin: 0 0 16px 0;
}

.product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__count {
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 8px;
  margin: 0 16px;
}

.product__sum {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 85%;
          flex: 1 1 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  margin: 0 30px;
  font-size: 16px;
  padding: 4px 0 0 0;
}

.product__sum span {
  padding: 0 0 0 5px;
}

.product__btn-heart {
  margin: 0 15px;
  cursor: pointer;
  position: relative;
  top: 3.5px;
  left: 0;
}

.product__btn-heart .fa-heart::before {
  color: #999;
}

.product__btn-heart .fa-heart:hover:before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #c50000;
}

.product__btn-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  color: #999;
  font-weight: 300;
  margin: 0 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.product__btn-delete:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #c50000;
}

.btn-counter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eee;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px #bfbfbf;
          box-shadow: 0 1px 4px #bfbfbf;
  cursor: pointer;
}

.btn-counter:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 2px 8px #bfbfbf;
          box-shadow: 0 2px 8px #bfbfbf;
}

.product:last-child {
  border-bottom: 1px solid #eee;
}

.btn__back-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__back-catalog .fa-chevron-left {
  font-size: 10px;
  padding: 0 0 2px 0;
  margin: 0 20px 0 0;
}

.btn__back-catalog a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn__back-catalog a:hover {
  color: #c50000;
}

.total {
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.total__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.total__count {
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
}

.total__count span {
  font-weight: 700;
}

.total__sum {
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.total__sum span {
  font-size: 20px;
  font-weight: 700;
}

.total__line {
  width: 100%;
  border-top: 1px solid #dcdcdc;
  margin: 30px 0 0 0;
}

.total__btn-order {
  width: 220px;
  height: 44px;
  background-color: #d60000;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 30px auto 20px auto;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.total__btn-order:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #c50000;
}

.hidden {
  display: none;
}

.price_up {
  color: #212121;
}

.price_up .fa-sort-amount-up::before {
  display: inline;
}

.price_up .fa-sort-amount-down-alt::before {
  display: none;
}

.price_down {
  color: #212121;
}

.price_down .fa-sort-amount-up::before {
  display: none;
}

.price_down .fa-sort-amount-down-alt::before {
  display: inline;
}
