@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.fa,
.fas,
.far,
.fal,
.fad,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-bars:before {
  content: "\f0c9";
  font-size: 17px;
  color: #fff;
}

.fa-search:before {
  content: "\f002";
  font-size: 20px;
  color: #fff;
}

.fa-heart:before {
  content: "\f004";
  font-size: 22px;
  color: #d60000;
}

.fa-shopping-cart:before {
  content: "\f07a";
  font-size: 22px;
  color: #d60000;
}

.fa-chevron-left:before {
  content: "\f053";
  font-size: 18px;
  color: #d60000;
}

.fa-minus:before {
  content: "\f068";
  font-size: 16px;
  color: #666;
}

.fa-plus:before {
  content: "\f067";
  font-size: 16px;
  color: #666;
}

.fa-sort-amount-up:before {
  content: "\f161";
  font-size: 14px;
  color: #c50000;
}

.fa-sort-amount-down-alt:before {
  content: "\f884";
  font-size: 14px;
  color: #c50000;
}

.fa-map-marker-alt:before {
  content: "\f3c5";
  font-size: 14px;
  color: #d60000;
}

.fa-user:before {
  content: "\f007";
  font-size: 14px;
  color: #d60000;
}

.fa-chevron-right:before {
  content: "\f054";
  font-size: 14px;
  color: #d60000;
}

.fa-chevron-left:before {
  content: "\f053";
  font-size: 14px;
  color: #d60000;
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-brands-400.eot");
  src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype"), url("../fonts/fa-brands-400.svg#fontawesome") format("svg");
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/fa-regular-400.eot");
  src: url("../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.ttf") format("truetype"), url("../fonts/fa-regular-400.svg#fontawesome") format("svg");
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/fa-solid-900.eot");
  src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.ttf") format("truetype"), url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.wrapper {
  font-family: "Roboto";
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

.header__line_sticky {
  background-color: #f0f0f0;
}

.h-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-info__label {
  margin: 12px 56px 12px 0;
}

.h-info__label img {
  width: 152px;
  height: 76px;
  border-radius: 10px;
}

.h-info__title {
  width: 170px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 56px 0 0;
}

.h-info__title span {
  display: block;
}

.h-info__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 56px 0 0;
  cursor: pointer;
}

.h-info__city i::before {
  position: relative;
  top: -1px;
  left: 0;
  font-size: 14px;
  margin: 0 10px 0 0;
}

.h-info__city p {
  font-size: 12px;
  color: #212121;
}

.h-info__city p:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #c50000;
}

.h-info__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 50px 0 120px;
}

.h-info__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.h-info__login i::before {
  font-size: 18px;
  margin: 0 10px 0 0;
  position: relative;
  top: -2px;
  left: 0;
}

.h-info__login p {
  font-weight: 700;
  font-size: 16px;
}

.h-info__login p:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #c50000;
}

.bottom-shadow {
  -webkit-box-shadow: 0 1px 5px 2px #c7c7c7;
          box-shadow: 0 1px 5px 2px #c7c7c7;
}

.contacts__tel {
  font-size: 18px;
  font-weight: 700;
  color: #d60000;
  margin: 0 0 5px 0;
}

.contacts__text {
  font-size: 12px;
  color: #212121;
  margin: 10px 0 0 0;
}

.sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 7px 0;
}

.sticky__btn-catalog {
  width: 300px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sticky__btn-catalog .fa-bars:before {
  position: relative;
  top: 1px;
}

.sticky__btn-catalog span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  margin: 0 0 0 10px;
}

.sticky__btn-catalog:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #303030;
}

.sticky__search {
  margin: 0 20px;
}

.sticky__selected-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky__selected-products a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky__selected-products__count {
  position: absolute;
  min-width: 18px;
  height: 18px;
  top: -5px;
  right: -10px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 1px 0 0;
  font-weight: 700;
  font-size: 11px;
}

.sticky__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky__text {
  margin: 0 0 0 10px;
  color: black;
  font-size: 14px;
}

.sticky__text:hover {
  color: #c50000;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__input {
  min-width: 600px;
  height: 44px;
  border: 2px solid #666;
  border-radius: 6px 0 0 6px;
  font-size: 18px;
  padding: 0 10px;
}

.search__btn {
  width: 44px;
  height: 44px;
  background-color: #666;
  border-radius: 0 6px 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart-label a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.cart-label__image {
  position: relative;
  margin: 0 20px 0 0;
}

.cart-label__count {
  position: absolute;
  min-width: 18px;
  height: 18px;
  top: -5px;
  right: -10px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 1px 0 0;
  font-weight: 700;
  font-size: 11px;
}

.cart-label__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.cart-label__total:hover {
  color: #c50000;
}

.totalCSS {
  font-size: 18px;
  font-weight: 500;
}

.sticky-fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 1px 5px 2px #c7c7c7;
          box-shadow: 0 1px 5px 2px #c7c7c7;
  -webkit-animation-name: showHeader;
          animation-name: showHeader;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes showHeader {
  0% {
    opacity: 0.5;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes showHeader {
  0% {
    opacity: 0.5;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.main {
  padding: 0 0 50px 0;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin: 0 20px 0 0;
}

.content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 990px;
          flex: 0 0 990px;
}

.catalog {
  min-height: 437px;
  border: 1px solid #dcdcdc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 16px 8px 12px 8px;
}

.item-catalog {
  cursor: pointer;
  padding: 12px 12px 12px 8px;
}

.item-catalog a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #212121;
}

.item-catalog a i:before {
  opacity: 0;
  font-size: 12px;
}

.item-catalog:hover {
  background-color: #f3f3f3;
  border-radius: 5px;
}

.item-catalog:hover a {
  color: #d60000;
}

.item-catalog:hover a i:before {
  opacity: 1;
  font-size: 12px;
}

.item-catalog:hover:after {
  content: "";
}

.banner {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin: 20px 0 30px 0;
}

.slider__image {
  height: 416px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.slider__image a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider__image .slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.slider__image .current-slide {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
}

.slider__arrows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: calc(50% - 22px);
  left: 0;
  opacity: 0;
  z-index: 1;
  padding: 0 5px;
}

.slider__arrows i::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
  font-size: 22px;
  color: #666;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider__arrows i:hover:before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 0 5px 2px #c7c7c7;
          box-shadow: 0 0 5px 2px #c7c7c7;
}

.slider__arrows i:first-child:before {
  padding: 12px 18px 12px 15px;
}

.slider__arrows i:last-child:before {
  padding: 12px 15px 12px 18px;
}

.banner:hover .slider__arrows {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 15px;
}

.sort__title {
  color: #666;
  padding: 6px 0;
}

.sort__item {
  color: #999;
  margin: 0 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sort__item_active {
  color: #212121;
}

.sort__item:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #c50000;
}

.sort__item_active:hover {
  color: #212121;
}

.sort__price .fa-sort-amount-up::before {
  display: none;
}

.sort__price .fa-sort-amount-down-alt::before {
  display: none;
}

.goods__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px -10px 20px -10px;
}

.goods {
  max-width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 10px 20px 10px;
  -webkit-transition: 0.2;
  transition: 0.2;
}

.goods__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0;
}

.goods__text .fa-heart::before {
  font-size: 18px;
  color: #999;
  cursor: pointer;
}

.goods__text .fa-heart:hover:before {
  color: #c50000;
}

.goods__code {
  font-size: 12px;
  color: #999;
}

.goods__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}

.goods__image img {
  max-width: 190px;
  max-height: 190px;
}

.goods__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-height: 60px;
  margin: 0 0 20px 0;
  overflow: hidden;
}

.goods__title a {
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  -webkit-transition: 0.2;
  transition: 0.2;
}

.goods__title:hover a {
  -webkit-transition: 0.2;
  transition: 0.2;
  color: #c50000;
}

.goods__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods__price {
  font-size: 18px;
  color: #212121;
  font-weight: 700;
}

.goods__price span {
  font-weight: 400;
}

.goods__button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #d60000;
  -webkit-transition: 0.2;
  transition: 0.2;
  cursor: pointer;
}

.goods__button .fa-shopping-cart::before {
  position: relative;
  top: 8px;
  left: 8px;
  font-size: 18px;
  color: #fff;
}

.goods__button:hover {
  -webkit-transition: 0.2;
  transition: 0.2;
  background-color: #c50000;
}

.goods__button:hover .fa-shopping-cart::before {
  position: relative;
  top: 8px;
  left: 8px;
  font-size: 18px;
  color: #fff;
}

.goods:hover {
  -webkit-transition: 0.2;
  transition: 0.2;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.add-goods {
  max-width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-weight: 700;
  color: #666;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.add-goods:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.5);
}

.add-goods {
  margin: 20px auto;
}

.footer {
  background-color: #f0f0f0;
}

.footer__row {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.footer__column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__line {
  border-top: 1px solid #cacaca;
}

.list {
  width: 224px;
  margin: 0 25px 0 0;
}

.list__title {
  font-size: 16px;
  font-weight: 700;
  color: #212121;
  margin: 0 0 12px 0;
}

.list__item {
  margin: 7px 0;
}

.list__item a {
  color: #212121;
}

.list__item a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #c50000;
}

.list:last-child {
  margin: 0 0 0 0;
}

.social-links {
  max-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.social-links__title {
  font-size: 16px;
  font-weight: 700;
  color: #212121;
}

.social-links__rating {
  width: 200px;
  height: 128px;
  border-radius: 10px;
  border: 2px solid gold;
  overflow: hidden;
}

.social-links__rating img {
  width: 100%;
  height: 100%;
}

.icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.icons__list a img {
  width: 24px;
  height: 24px;
  border-radius: 3px;
}

.privacy-policy {
  padding: 15px 0;
}

.privacy-policy__text {
  color: #666;
  font-size: 12px;
  max-width: 762px;
  line-height: 1.3;
  margin: 0 0 3px 0;
}

.hidden {
  display: none;
}

.price_up {
  color: #212121;
}

.price_up .fa-sort-amount-up::before {
  display: inline;
}

.price_up .fa-sort-amount-down-alt::before {
  display: none;
}

.price_down {
  color: #212121;
}

.price_down .fa-sort-amount-up::before {
  display: none;
}

.price_down .fa-sort-amount-down-alt::before {
  display: inline;
}
