// Подключение глобальных переменных
// @import "_variables";

.header {
    &__line_sticky {
        background-color: rgb(240, 240, 240);
    }
}

.h-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label {
        margin: 12px 56px 12px 0;

        img {
            width: 152px;
            height: 76px;
            border-radius: 10px;
        }
    }
    &__title {
        width: 170px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 56px 0 0;
        span {
            display: block;
        }
    }
    &__city {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 56px 0 0;
        cursor: pointer;
        i::before {
            position: relative;
            top: -1px;
            left: 0;
            font-size: 14px;
            margin: 0 10px 0 0;
        }
        p {
            font-size: 12px;
            color: #212121;
        }
        p:hover {
            transition: 0.2s;
            color: $hoverColorRed;
        }
    }

    &__contacts {
        flex: 1 1 auto;
        margin: 0 50px 0 120px;
    }

    &__login {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        user-select: none;

        i::before {
            font-size: 18px;
            margin: 0 10px 0 0;
            position: relative;
            top: -2px;
            left: 0;
        }
        p {
            font-weight: 700;
            font-size: 16px;
        }
        p:hover {
            transition: 0.2s;
            color: $hoverColorRed;
        }
    }
}
.bottom-shadow {
    box-shadow: 0 1px 5px 2px rgb(199, 199, 199);
}
.contacts {
    &__tel {
        font-size: 18px;
        font-weight: 700;
        color: $mainColorRed;
        margin: 0 0 5px 0;
    }

    &__text {
        font-size: 12px;
        color: #212121;
        margin: 10px 0 0 0;
    }
}

.sticky {
    display: flex;
    justify-content: space-between;
    text-align: center;

    padding: 7px 0;

    &__btn-catalog {
        width: 300px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #666;
        border-radius: 6px 6px 0 0;
        cursor: pointer;
        transition: 0.2s;

        .fa-bars:before {
            position: relative;
            top: 1px;
        }

        span {
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            border-radius: 6px;
            margin: 0 0 0 10px;
        }
    }
    &__btn-catalog:hover {
        transition: 0.2s;
        background-color: #303030;
    }

    &__search {
        margin: 0 20px;
    }

    &__selected-products {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__count {
            position: absolute;
            min-width: 18px;
            height: 18px;
            top: -5px;
            right: -10px;
            background-color: yellowgreen;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1px 1px 0 0;
            font-weight: 700;
            font-size: 11px;
        }
    }

    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        margin: 0 0 0 10px;
        color: black;
        font-size: 14px;
    }
    &__text:hover {
        color: $hoverColorRed;
    }
}

.search {
    display: flex;

    &__input {
        min-width: 600px;
        height: 44px;
        border: 2px solid #666;
        border-radius: 6px 0 0 6px;
        font-size: 18px;
        padding: 0 10px;
    }

    &__btn {
        width: 44px;
        height: 44px;
        background-color: #666;
        border-radius: 0 6px 6px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
.cart-label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }

    &__image {
        position: relative;
        margin: 0 20px 0 0;
    }

    &__count {
        position: absolute;
        min-width: 18px;
        height: 18px;
        top: -5px;
        right: -10px;
        background-color: yellowgreen;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px 1px 0 0;
        font-weight: 700;
        font-size: 11px;
    }

    &__total {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    &__total:hover {
        color: $hoverColorRed;
    }
}

// Служебные стили

.totalCSS {
    font-size: 18px;
    font-weight: 500;
}

.sticky-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 5px 2px rgb(199, 199, 199);
    animation-name: showHeader;
    animation-duration: 0.5s;
}
@keyframes showHeader {
    0% {
        opacity: 0.5;
        top: -10px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
